[user]
	name = Andrew Lechowicz
	email = andrew@alecho.com
	signingKey = 1B42243108A704D1
[mergetool]
	keepBackup = true
[help]
	autocorrect = 60
[alias]
	aa = add --all
	amend = commit --amend
	b = branch
	bD = branch -D
	bDf = "!git branch -D $(git branch | fzf)"
	ba = branch -a
	bd = branch -d
	bdf = "!git branch -d $(git branch | fzf)"
	br = branch -r
	c = commit -v
	ca = commit -a --v
	cm = commit -v -m
	cnv = commit -v --no-verify
	cnvm = commit -v --no-verify -m
	clear = "!clear"
	co = checkout
	cof = "!git checkout $(git branch | fzf)"
	com = checkout master
	cob = "!git checkout $(git remote show origin | grep 'HEAD branch' | sed 's/.*: //')"
	cp = cherry-pick
	cpc = cherry-pick --continue
	di = diff
	diw = diff --word-diff
	word-diff = diff --word-diff
	dt = difftool
	f = fetch
	fap = fetch --all --prune
	faprom = "!git fap && git rom"
	fix = "!f() { ${EDITOR} `git diff --name-only --diff-filter=U`; }; f"
	fixup = commit --fixup
	fixupf = "!git commit --fixup $(git log --oneline | fzf | awk '{print $1}')"
	graph = log --graph --oneline --decorate --all
	gca = gc --aggressive
	l = "!source ~/.bash/helpers/githelpers.sh && pretty_git_log"
	la = !git l --all
	lag = !git l --graph --all
	lg = !git l --graph
	lol = !git log --oneline
	lom = log origin/master
	mt = mergetool
	new = checkout -b
	p = push
	pf = push --force-with-lease
	pr = pull --rebase
	publish = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
	pullall = !git pull && git submodule update --init --recursive
	r = !git l -20
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbp = rebase --show-current-patch
	rbi = rebase -i
	rbs = rebase --skip
	reopen = "!f() { ${EDITOR} $(git status --porcelain | awk '{print $2}'); }; f"
	review = "!git log --oneline origin/master..HEAD && git diff origin/master --word-diff"
	rom = rebase origin/master
	romi = rebase -i origin/master
	rop = rebase origin/production
	ropi = rebase -i origin/production
	s = status -sb
	sh = show
	st = status -b
	staged = diff --staged
	ds = diff --staged
	sup = submodule update --init --recursive
	uncommit = reset --soft 'HEAD~'
	undo = reset --soft 'HEAD^'
	whatadded = log --diff-filter=A
	wip = "!git commit --no-verify -m 'WIP :construction:'"
	worked = "!git for-each-ref --sort=committerdate refs/heads/ --format='%(committerdate:short) %(refname:short)'"
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false
  theme = dracula
[merge]
    conflictstyle = diff3
[diff]
	algorithm = histogram
  colorMoved = default
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[branch]
	autosetuprebase = always
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[rebase]
	autosquash = true
[rerere]
	enabled = 1
[gpg]
	program = gpg
[commit]
	gpgSign = true
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[init]
	defaultBranch = main
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[log]
  date = relative
[format]
  pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(8,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D
[mailmap]
  file = '/Users/andrewlechowicz/.mailmap'
