[user]
	name = Andrew Lechowicz
	email = andrew@alecho.com
	signingkey = 9C671341E55BE87F4E98C8F01B42243108A704D1
[mergetool]
	keepBackup = true
[help]
	autocorrect = 60
[alias]
	aa = add --all
	amend = commit --amend
	b = branch
	bD = branch -D
	ba = branch -a
	bd = branch -d
	br = branch -r
	c = commit
	ca = commit -a -v
	ci = commit -v
  clear = "!clear"
	close = "!git push && git checkout staging && git branch -D $1"
	co = checkout
  cob = "!git checkout $(git remote show origin | grep 'HEAD branch' | sed 's/.*: //')"
	cp = cherry-pick
	cpc = cherry-pick --continue
	di = diff
	diw = diff --word-diff
	dt = difftool
	f = fetch
	fap = fetch --all --prune
  fix = "!f() { ${EDITOR} `git diff --name-only --diff-filter=U`; }; f"
	fixup = commit --fixup
  graph = log --graph --oneline --decorate --all
	l = "!source ~/.bash/helpers/githelpers.sh && pretty_git_log"
	la = !git l --all
	lag = !git l --graph --all
	lg = !git l --graph
	lol = !git log --oneline
	mark-prod = "!git tag production HEAD -f && git push --tags"
	mt = mergetool
	new = checkout -b
	pr = pull --rebase
	publish = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
	pullall = !git pull && git submodule update --init --recursive
	r = !git l -20
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase -i
	rbs = rebase --skip
	review = "!git log --oneline origin/master..HEAD && git diff origin/master --word-diff"
	reopen = "!f() { ${EDITOR} $(git status --porcelain | awk '{print $2}'); }; f"
  rom = rebase origin/master
  romi = rebase -i origin/master
	s = status -sb
	sh = show
	st = status -b
	staged = diff --staged
	sup = submodule update --init --recursive
	uncommit = reset --soft 'HEAD~'
	undo = reset --soft 'HEAD^'
	whatadded = log --diff-filter=A
  wip = "!git commit -a -m 'WIP :construction:'"
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim
[diff]
	algorithm = histogram
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[branch]
	autosetuprebase = always
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[rebase]
  autoSquash = true
[rerere]
	enabled = 1
[gpg]
	program = gpg
[commit]
	gpgsign = true
