[user]
	name = Andrew Lechowicz
	email = andrew@alecho.com
[mergetool]
	keepBackup = true
[help]
	autocorrect = 60
[alias]
	aa = add --all
	amend = commit --amend
	b = branch
	bD = branch -D
	ba = branch -a
	bd = branch -d
	br = branch -r
	c = commit
	ca = commit -a -v
	ci = commit -v
	close = "!git push && git checkout staging && git branch -D $1"
	co = checkout
	cp = cherry-pick
	di = diff
	dt = difftool
	f = fetch
	fetchall = fetch --all --prune
	l = "!source ~/.bash/helpers/githelpers.sh && pretty_git_log"
	la = !git l --all
	lag = !git l --graph --all
	lg = !git l --graph
	mark-prod = "!git tag production HEAD -f && git push --tags"
	mt = mergetool
	new = checkout -b
	pr = pull --rebase
	publish = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
	pullall = !git pull && git submodule update --init --recursive
	r = !git l -20
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase -i
	review = rebase -i
	s = status -s
	s = status -sb
	sh = show
	st = status -b
	staged = diff --staged
	sup = submodule update --init --recursive
	uncommit = reset --soft 'HEAD~'
	undo = reset --soft 'HEAD^'
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[branch]
	autosetuprebase = always
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
