// ############################################################
// ###   ###  Alt-centered configuration for Zellij  ###   ####
// ############################################################
// - 1 prefix key (Alt) for most common actions in normal mode
// - Less common actions require switching mode or are removed
// - Press escape, enter or space to switch back to normal mode
// - Press Alt-q for quitting and Alt-d for detaching
//
// To access other modes from normal mode press
// 1. Alt-r for resize, 2. Alt-p for pane,
// 3. .. move, 4. .. tab, 5. .. scroll,
// 6. in scroll mode s to type text, 7. enter to search.
//
// Run `zellij setup --check` for troubleshooting and inspecting
// current config locations and features that are enabled.

keybinds {
    normal clear-defaults=true {
        bind "Alt q" { Quit; }
        bind "Alt d" { Detach; }
        bind "Alt p" { SwitchToMode "pane"; }
        bind "Alt r" { SwitchToMode "resize"; }
        bind "Alt t" { SwitchToMode "tab"; }
        bind "Alt /" { SwitchToMode "search"; }
        bind "Alt m" { SwitchToMode "move"; }
        bind "Alt s" { SwitchToMode "session"; }
        bind "Alt Space" { ToggleFloatingPanes; } // Used for notes
        bind "Alt c" { NewTab; }
        bind "Alt ," { GoToPreviousTab; }
        bind "Alt ." { GoToNextTab; }
        bind "Alt Shift ," { MoveTab "Left"; }
        bind "Alt Shift ." { MoveTab "Right"; }
        bind "Alt h" { FocusPreviousPane; }
        bind "Alt l" { FocusNextPane; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt H" { MovePane "Left"; }
        bind "Alt L" { MovePane "Right"; }
        bind "Alt J" { MovePane "Down"; }
        bind "Alt K" { MovePane "Up"; }
        bind "Alt Left" { NewPane "Left"; }
        bind "Alt Right" { NewPane "Right"; }
        bind "Alt Down" { NewPane "Down"; }
        bind "Alt Up" { NewPane "Up"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt x" { CloseFocus; }
        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt z" { TogglePaneFrames; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
        bind "Alt e" { EditScrollback; }
        bind "Alt PageDown" { PageScrollDown; }
        bind "Alt PageUp" { PageScrollUp; }
        bind "Shift Enter" { Write 10; }
    }

    pane clear-defaults=false {
        bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renamepane"; }
        bind "h" { NewPane "Left"; }
        bind "l" { NewPane "Right"; }
        bind "j" { NewPane "Down"; }
        bind "k" { NewPane "Up"; }
        bind "d" { CloseFocus; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "p" { SwitchFocus; }
        bind "f" { ToggleFocusFullscreen; }
    }

    tab clear-defaults=false {
        bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
        bind "r" { SwitchToMode "renametab"; }
        bind "h" "Left" { GoToPreviousTab; }
        bind "l" "Right" { GoToNextTab; }
        bind "n" { NewTab; }
        bind "x" { CloseTab; }
        bind "s" { ToggleActiveSyncTab; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }
        bind "Tab" { ToggleTab; }
    }

    resize clear-defaults=false {
        bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
        bind "h" "Left" { Resize "Left"; }
        bind "j" "Down" { Resize "Down"; }
        bind "k" "Up" { Resize "Up"; }
        bind "l" "Right" { Resize "Right"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt n" { NewPane; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
    }

    move clear-defaults=false {
        bind "Enter" "Esc" "Space" { SwitchToMode "normal"; }
        bind "h" "Left" { MovePane "Left"; }
        bind "j" "Down" { MovePane "Down"; }
        bind "k" "Up" { MovePane "Up"; }
        bind "l" "Right" { MovePane "Right"; }
        bind "Alt n" { NewPane; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
    }

    scroll clear-defaults=false {
        bind "e" { EditScrollback; SwitchToMode "normal"; }
        bind "Enter" "Esc" { SwitchToMode "normal"; }
        bind "Alt c" { ScrollToBottom; SwitchToMode "normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Alt f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Alt b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
    }

    search clear-defaults=true {
        bind "Alt f" "Enter" "Esc" "Space" { SwitchToMode "normal"; }
        bind "s" { SwitchToMode "entersearch"; SearchInput 0; }
        bind "n" { Search "Down"; }
        bind "p" { Search "Up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
    }

    entersearch clear-defaults=true {
        bind "Enter" { SwitchToMode "search"; }
        bind "Alt c" "Esc" { SearchInput 27; SwitchToMode "scroll"; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
    }

    locked clear-defaults=true {}
    renamepane clear-defaults=false {}
    renametab clear-defaults=false {}
    tmux clear-defaults=true {}
}

advanced_mouse_actions false

// Choose what to do when zellij receives SIGTERM, SIGINT, SIGQUIT or SIGHUP
// eg. when terminal window with an active zellij session is closed
// Options:
//   - detach (Default)
//   - quit
//
// on_force_close "quit"

//  Send a request for a simplified ui (without arrow fonts) to plugins
//  Options:
//    - true
//    - false (Default)
//
// simplified_ui true

// Choose the path to the default shell that zellij will use for opening new panes
// Default: $SHELL
//
// default_shell "fish"

// Choose the path to override cwd that zellij will use for opening new panes
//
// default_cwd ""

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
// pane_frames true

// Toggle between having Zellij lay out panes according to a predefined set of layouts whenever possible
// Options:
//   - true (default)
//   - false
//
// auto_layout true

// Whether sessions should be serialized to the cache folder (including their tabs/panes, cwds and running commands) so that they can later be resurrected
// Options:
//   - true (default)
//   - false
//
// session_serialization false

// Whether pane viewports are serialized along with the session, default is false
// Options:
//   - true
//   - false (default)
// serialize_pane_viewport true

// Scrollback lines to serialize along with the pane viewport when serializing sessions, 0
// defaults to the scrollback size. If this number is higher than the scrollback size, it will
// also default to the scrollback size. This does nothing if `serialize_pane_viewport` is not true.
//
// scrollback_lines_to_serialize 10000

// Define color themes for Zellij
// For more examples, see: https://github.com/zellij-org/zellij/tree/main/example/themes
// Once these themes are defined, one of them should to be selected in the "theme" section of this file
//
themes {
  dracula-purple {
    // fg 248 248 242
    // black 0 0 0
    // white 255 255 255
    // bg 40 42 54
    // red 255 85 85
    // purple 189 147 249
    // yellow 241 250 140
    // comment 98 114 164
    // magenta 255 121 198
    // orange 255 184 108
    // green 80 250 123
    // cyan 139 233 253

    text_unselected {
      base 255 255 255
      background 0 0 0
      emphasis_0 255 184 108
      emphasis_1 255 184 108
      emphasis_2 80 250 123
      emphasis_3 139 233 253
    }
    text_selected {
      base 255 255 255
      background 40 42 54
      emphasis_0 255 184 108
      emphasis_1 139 233 253
      emphasis_2 80 250 123
      emphasis_3 255 121 198
    }
    ribbon_selected {
      base 0 0 0
      background 189 147 249
      emphasis_0 255 85 85
      emphasis_1 255 184 108
      emphasis_2 255 121 198
      emphasis_3 98 114 164
    }
    ribbon_unselected {
      base 0 0 0
      background 98 114 164
      emphasis_0 248 248 242
      emphasis_1 255 255 255
      emphasis_2 98 114 164
      emphasis_3 255 121 198
    }
    table_title {
      base 80 250 123
      background 0
      emphasis_0 255 184 108
      emphasis_1 139 233 253
      emphasis_2 80 250 123
      emphasis_3 255 121 198
    }
    table_cell_selected {
      base 255 255 255
      background 40 42 54
      emphasis_0 255 184 108
      emphasis_1 139 233 253
      emphasis_2 80 250 123
      emphasis_3 255 121 198
    }
    table_cell_unselected {
      base 255 255 255
      background 0 0 0
      emphasis_0 255 184 108
      emphasis_1 139 233 253
      emphasis_2 80 250 123
      emphasis_3 255 121 198
    }
    list_selected {
      base 255 255 255
      background 40 42 54
      emphasis_0 255 184 108
      emphasis_1 139 233 253
      emphasis_2 80 250 123
      emphasis_3 255 121 198
    }
    list_unselected {
      base 255 255 255
      background 0 0 0
      emphasis_0 255 184 108
      emphasis_1 139 233 253
      emphasis_2 80 250 123
      emphasis_3 255 121 198
    }
    frame_selected {
      base 189 147 249
      background 0
      emphasis_0 255 184 108
      emphasis_1 139 233 253
      emphasis_2 255 121 198
      emphasis_3 0
    }
    frame_highlight {
      base 255 184 108
      background 0
      emphasis_0 255 121 198
      emphasis_1 255 184 108
      emphasis_2 255 184 108
      emphasis_3 255 184 108
    }
    exit_code_success {
      base 80 250 123
      background 0
      emphasis_0 139 233 253
      emphasis_1 0 0 0
      emphasis_2 255 121 198
      emphasis_3 98 114 164
    }
    exit_code_error {
      base 255 85 85
      background 0
      emphasis_0 241 250 140
      emphasis_1 0
      emphasis_2 0
      emphasis_3 0
    }
    multiplayer_user_colors {
      player_1 255 121 198
      player_2 98 114 164
      player_3 0
      player_4 241 250 140
      player_5 139 233 253
      player_6 0
      player_7 255 85 85
      player_8 0
      player_9 0
      player_10 0
    }
  }
}

// Choose the theme that is specified in the themes section.
// Default: default
//
theme "dracula-purple"

// The name of the default layout to load on startup
// Default: "default"
//
// default_layout "compact"

// Choose the mode that zellij uses when starting up.
// Default: normal
//
// default_mode "locked"

// Toggle enabling the mouse mode.
// On certain configurations, or terminals this could
// potentially interfere with copying text.
// Options:
//   - true (default)
//   - false
//
// mouse_mode false

// Configure the scroll back buffer size
// This is the number of lines zellij stores for each pane in the scroll back
// buffer. Excess number of lines are discarded in a FIFO fashion.
// Valid values: positive integers
// Default value: 10000
//
// scroll_buffer_size 10000

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx

// Choose the destination for copied text
// Allows using the primary selection buffer (on x11/wayland) instead of the system clipboard.
// Does not apply when using copy_command.
// Options:
//   - system (default)
//   - primary
//
// copy_clipboard "primary"

// Enable or disable automatic copy (and clear) of selection when releasing mouse
// Default: true
//
// copy_on_select false

// Path to the default editor to use to edit pane scrollbuffer
// Default: $EDITOR or $VISUAL
//
// scrollback_editor "/usr/bin/vim"

// When attaching to an existing session with other users,
// should the session be mirrored (true)
// or should each user have their own cursor (false)
// Default: false
//
// mirror_session true

// The folder in which Zellij will look for layouts
//
// layout_dir "/path/to/my/layout_dir"

// The folder in which Zellij will look for themes
//
// theme_dir "/path/to/my/theme_dir"

// Enable or disable the rendering of styled and colored underlines (undercurl).
// May need to be disabled for certain unsupported terminals
// Default: true
//
// styled_underlines false

// Enable or disable writing of session metadata to disk (if disabled, other sessions might not know
// metadata info on this session)
// Default: false
//
// disable_session_metadata true
